		<nav class="thumb-nav">
			<a data-container="container-1" class="thumb-nav__item" href="#"><img src="<%= asset_path 'white.png' %>" width="45";/><span>1</span></a>
			<a data-container="container-2" class="thumb-nav__item" href="#"><img src="<%= asset_path 'white.png' %>" width="45";/><span>2</span></a>
			<a data-container="container-3" class="thumb-nav__item" href="#"><img src="<%= asset_path 'white.png' %>" width="45";/><span>3</span></a>
		</nav>